.route-icon {
  font-size: 16pt;
}

.menu-item-text {
  font-size: 10pt;
}

.route-icon,
.menu-item-text {
  color: #969cba;
}

.mat-list-item.active {
  background-color: #969cba;

  .route-icon,
  .menu-item-text {
    color: #ffffff;
  }

  .menu-item-text {
    font-weight: bold;
  }
}
