@import '~src/scss/abstracts/colors';

mat-sidenav-container {
  height: calc(100% - 70px);
}

mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

.mat-sidenav {
  min-width: 70px;
  width: auto;

  background-color: #373b53;

  .profile-container {
    background-color: $primary-color;
  }

  .sidenav-list {
    height: calc(100% - 230px);

    .mat-divider {
      background-color: #969cba;
    }
  }
}
