<ng-container *ngIf="calendar">
  <!-- Action Header -->
  <div fxLayout fxLayoutAlign="space-between center">
    <div fxLayout fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutAlign.lt-sm="start" fxLayoutGap="10px">
      <div fxLayout fxLayoutAlign="center center" fxLayoutAlign.lt-sm="start center" fxLayoutGap="10px">
        <mat-form-field fxFlex="0 1 150px">
          <mat-label>Select a period</mat-label>
          <mat-select [(ngModel)]="calendar.view">
            <mat-option [value]="v.value" *ngFor="let v of views">{{ v.option }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-stroked-button color="primary" mwlCalendarToday [(viewDate)]="calendar.viewDate">Today</button>
      </div>
      <div fxLayout fxLayoutAlign="center center" fxLayoutAlign.lt-sm="start center" fxLayoutGap="10px">
        <mat-icon
          class="pointer"
          mwlCalendarPreviousView
          matTooltip="Previous"
          matTooltipPosition="above"
          [view]="calendar.view"
          [(viewDate)]="calendar.viewDate"
          (viewDateChange)="calendar.closeOpenMonthViewDay()"
          >navigate_before</mat-icon
        >
        <mat-icon
          class="pointer"
          mwlCalendarNextView
          matTooltip="Next"
          matTooltipPosition="above"
          [view]="calendar.view"
          [(viewDate)]="calendar.viewDate"
          (viewDateChange)="calendar.closeOpenMonthViewDay()"
          >navigate_next</mat-icon
        >
        <h2 class="current-date-view">{{ calendar.viewDate | calendarDate: calendar.view + 'ViewTitle':'en' }}</h2>
      </div>
    </div>
    <button mat-flat-button color="primary" class="pl-10" (click)="calendar.handleEvent('new')" fxHide fxShow.gt-sm>
      <mat-icon class="font-size-16 mr-10">add</mat-icon>New
    </button>
  </div>
  <!-- Action Header -->

  <!-- Calendar -->
  <div class="calendar-container" [ngSwitch]="calendar.view">
    <mwl-calendar-month-view
      *ngSwitchCase="calendar.CalendarView.Month"
      [viewDate]="calendar.viewDate"
      [events]="calendar.events"
      [refresh]="calendar.refresh"
      [activeDayIsOpen]="calendar.activeDayIsOpen"
      (dayClicked)="calendar.calendarClicked($event.day)"
      (eventClicked)="calendar.handleEvent('edit', $event.event)"
      (eventTimesChanged)="calendar.eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="calendar.CalendarView.Week"
      [viewDate]="calendar.viewDate"
      [events]="calendar.events"
      [refresh]="calendar.refresh"
      (dayHeaderClicked)="calendar.calendarClicked($event.day)"
      (hourSegmentClicked)="calendar.calendarClicked($event)"
      (eventClicked)="calendar.handleEvent('edit', $event.event)"
      (eventTimesChanged)="calendar.eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="calendar.CalendarView.Day"
      [viewDate]="calendar.viewDate"
      [events]="calendar.events"
      [refresh]="calendar.refresh"
      (hourSegmentClicked)="calendar.calendarClicked($event)"
      (eventClicked)="calendar.handleEvent('edit', $event.event)"
      (eventTimesChanged)="calendar.eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>
  <!-- Calendar -->

  <button
    class="add-event-mobile-button"
    mat-fab
    color="primary"
    aria-label=""
    (click)="calendar.handleEvent('new')"
    fxHide
    fxShow.lt-md
  >
    <mat-icon>add</mat-icon>
  </button>
</ng-container>
