@import '~src/scss/abstracts/colors';

.menu-item-text {
  margin-left: 10px;
  width: 200px;
}

.route-icon,
.menu-item-text {
  color: #969cba;
}

.mat-list-item.active {
  background-color: #969cba;

  .route-icon,
  .menu-item-text {
    color: $white;
  }

  .menu-item-text {
    font-weight: bold;
  }
}
