mat-sidenav-container {
  height: calc(100% - 70px);
}

mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

.mat-sidenav {
  min-width: 70px;
  width: auto;

  background-color: #373b53;

  .sidenav-list {
    height: 100%;

    .mat-divider {
      background-color: #969cba;
    }
  }
}
