<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="mode" [opened]="opened">
    <mat-nav-list class="sidenav-list" fxLayout="column">
      <app-menu-list-item *ngFor="let item of menu" [item]="item"></app-menu-list-item>
      <span fxFlex="0 1 100%"></span>
      <mat-divider></mat-divider>
      <app-menu-list-item
        [item]="{
          displayName: 'Settings',
          iconName: 'settings'
        }"
      ></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
