<!-- Action Header -->
<div fxLayout fxLayoutAlign="space-between center">
  <div fxLayout fxLayoutAlign="center center" fxLayoutGap="14px">
    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="14px">
      <mat-form-field>
        <mat-label>Select an period</mat-label>
        <mat-select [(ngModel)]="view">
          <mat-option [value]="v.value" *ngFor="let v of views">{{ v.option }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-stroked-button color="primary" mwlCalendarToday [(viewDate)]="viewDate">Today</button>
    </div>
    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="14px">
      <mat-icon
        class="pointer"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        >navigate_before</mat-icon
      >
      <mat-icon
        class="pointer"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        >navigate_next</mat-icon
      >
      <h2 class="current-date-view">{{ viewDate | calendarDate: view + 'ViewTitle':'en' }}</h2>
    </div>
  </div>
  <button mat-flat-button color="primary" style="padding-left: 10px">
    <mat-icon style="margin-right: 10px; font-size: 16pt">add</mat-icon>New
  </button>
</div>
<!-- Action Header -->

<!-- Calendar -->
<div class="calendar-container" [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>
<!-- Calendar -->
