@import '~src/scss/abstracts/colors';

.csv-extractor-container {
  padding: 10px;
  border: 1px solid lighten($color: $primary-color, $amount: 30);
  border-radius: 5px;

  &:hover {
    border-color: lighten($color: $primary-color, $amount: 20);
  }

  .info-container {
    position: relative;
    margin-bottom: 10px;

    .mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      color: $grey;

      &.close-manual-mode-icon {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    span {
      font-size: smaller;
      color: $medium-grey;
    }
  }

  .csv-extractor-template {
    .mat-divider {
      height: 50px;
    }

    .mat-icon {
      font-size: 24pt;

      color: #969cba;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  .csv-extractor-container {
    padding: 5px 10px;

    .csv-extractor-template {
      .mat-divider {
        height: 30px;
      }

      .mat-icon {
        font-size: 16pt;
      }
    }
  }
}
