@import '~src/scss/abstracts/colors';

.header {
  background-color: $white;
  padding: 0;
  height: 70px;

  .logo-container {
    background-color: $primary-color;
    height: 100%;
    min-width: 70px;
    width: auto;
    font-size: 24pt;
    padding: 0 24px;

    .logo {
      color: $white;
    }
  }

  .mat-icon {
    color: #c9ced6;
  }

  .extra-options {
    margin-right: 24px;

    .mat-divider {
      height: 50px;
      margin: 0 12px 0 24px;
      background-color: #eff4f6;
    }

    .user-data-container {
      line-height: 1.5;

      .user-name {
        font-size: 14px;
      }

      .user-profile {
        color: #a6acbe;
        font-size: 12px;

        align-self: flex-end;
      }
    }

    img {
      margin-left: 14px;
      border-radius: 25px;
    }
  }
}
