<mat-toolbar class="header" fxLayoutAlign="space-between center">
  <button mat-icon-button (click)="toggle()" class="menu-button" fxHide fxShow.lt-md>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo-container" fxLayout="column" fxLayoutAlign="center center" fxHide fxShow.gt-sm>
    <span class="logo">S</span>
  </div>
  <div class="extra-options" fxLayout fxLayoutAlign="center center">
    <div fxLayout fxLayoutAlign="center center">
      <div class="user-data-container" fxLayout="column">
        <span class="user-name">{{ user.name }}</span>
        <span class="user-profile">{{ user.profile }}</span>
      </div>
      <img width="50px" height="50px" [src]="user.photoUrl" alt="User Photo" />
    </div>
    <mat-divider vertical></mat-divider>
    <button mat-icon-button class="menu-button" matTooltip="Notifications">
      <mat-icon matBadge="7" matBadgeColor="primary" matBadgeSize="small">notifications</mat-icon>
    </button>
    <button mat-icon-button class="menu-button" matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
