@import '~src/scss/abstracts/colors';

.header {
  background-color: $white;
  padding: 0;
  height: 70px;

  .mat-icon-button {
    margin-left: 6px;
  }

  .mat-icon {
    color: #c9ced6;
  }

  .extra-options {
    margin-right: 16px;
  }
}
