<mat-toolbar class="header" fxLayoutAlign="space-between center">
  <button mat-icon-button (click)="toggle()" fxHide fxShow.lt-md>
    <mat-icon>menu</mat-icon>
  </button>
  <app-logo fxHide fxShow.gt-sm></app-logo>
  <div class="extra-options" fxLayout fxLayoutAlign="center center">
    <button mat-icon-button matTooltip="Notifications">
      <mat-icon matBadge="7" matBadgeColor="primary" matBadgeSize="small">notifications</mat-icon>
    </button>
    <app-profile class="pointer" style="margin-left: 24px" [matMenuTriggerFor]="menu" fxHide fxShow.gt-sm></app-profile>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item *ngFor="let item of menuItems">
        <mat-icon class="font-size-16">{{ item.icon }}</mat-icon>
        <span class="font-size-10">{{ item.label }}</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
